<div class="logo-shape yellow"
     [style.transform]="'rotate(' + values.yellowR + 'deg)'"
     [style.opacity]="values.yellowO"></div>
<div class="logo-shape green"
     [style.transform]="'rotate(' + values.greenR + 'deg)'"
     [style.opacity]="values.greenO"></div>
<div class="logo-shape red"
     [style.transform]="'rotate(' + values.redR + 'deg)'"
     [style.opacity]="values.redO"></div>
<div class="logo-shape white"
     [style.transform]="'scale(' + values.white + ')'"></div>
<div class="logo-shape blue"
     [style.transform]="'scale(' + values.blue + ')'"></div>
